@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.main-header {
  overflow: visible;
}

.bio-section {
  background-color: #fdfcfa;
  padding: 0 30rem 20rem;
}
@media (max-width: 1800px) {
  .bio-section {
    padding: 0 20rem 20rem;
  }
}
@media (max-width: 1400px) {
  .bio-section {
    padding: 0 15rem 15rem;
  }
}

.kate-bio-section {
  color: #b07677;
}

.mark-bio-section {
  color: #535cb0;
}

.bio-flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bio-text-wrapper {
  flex: 0 1 auto;
  width: 50%;
  font-size: 5rem;
}
.bio-text-wrapper p:last-of-type {
  margin-bottom: 0;
}

.bio-image {
  flex: 0 1 auto;
  width: calc(50% - 10rem);
  height: 100%;
  margin-right: 10rem;
}

.contact-section {
  background-color: #b09b53;
  color: #fdfcfa;
}