@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.main-contact-section {
  background-color: #fdfcfa;
  font-size: 5rem;
  padding: 0 30rem 20rem;
}

.main-contact-form-intro-text-wrapper {
  text-align: center;
  color: #535cb0;
  margin-bottom: 20rem;
}
.main-contact-form-intro-text-wrapper p {
  margin-bottom: 10rem;
}
.main-contact-form-intro-text-wrapper p:last-of-type {
  margin-bottom: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  color: #b07677;
  margin-bottom: 10rem;
}
.form-input-wrapper input {
  color: inherit;
  background-color: #fdfcfa;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #b07677;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  color: #b07677;
  margin-bottom: 10rem;
  align-items: center;
}
.checkbox-wrapper label {
  order: 2;
}
.checkbox-wrapper input[type=checkbox] {
  position: relative;
  order: 1;
  margin-right: 5rem;
}
.checkbox-wrapper input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  border: 5px solid #b07677;
  background-color: #fdfcfa;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  top: -18px;
  left: -6px;
  z-index: 5;
  transition: 0.2s ease-in 0s;
}
.checkbox-wrapper input[type=checkbox]:after {
  display: block;
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 35px;
  width: 35px;
  top: -10px;
  left: 1.5px;
  margin: 0;
  transition: 0.2s ease-in 0s;
  z-index: 6;
}
.checkbox-wrapper input[type=checkbox]:checked:before {
  border: 5px solid #b07677;
}
.checkbox-wrapper input[type=checkbox]:checked:after {
  background: #b07677;
}

.message-area-wrapper {
  color: #b07677;
  margin-bottom: 10rem;
}

.message-area-input {
  border: none;
  background-attachment: local;
  line-height: 4.1rem;
  color: inherit;
  background-image: linear-gradient(to right, #fdfcfa 0, transparent 0), linear-gradient(to left, #fdfcfa 0, transparent 0), repeating-linear-gradient(#fdfcfa, #fdfcfa 4rem, #b07677 1.8rem, #b07677 4.4rem, #fdfcfa 2rem);
}