@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.main-logo-wrapper {
  margin: 0 auto;
}

.error-page-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfcfa;
  padding: 0 40rem 20rem;
}
@media (max-width: 1700px) {
  .error-page-section {
    padding: 0 20rem 20rem;
  }
}
@media (max-width: 1400px) {
  .error-page-section {
    padding: 0 15rem 15rem;
  }
}
@media (max-width: 1200px) {
  .error-page-section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .error-page-section {
    padding: 0 2.5rem 10rem;
  }
}

.error-page-text-wrapper {
  font-size: 5rem;
  color: #535cb0;
  flex: 0 1 auto;
  width: 45%;
}
.error-page-text-wrapper p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .error-page-text-wrapper {
    width: 100%;
    margin-bottom: 15rem;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .error-page-text-wrapper {
    margin-bottom: 10rem;
  }
}

.error-page-image {
  flex: 0 1 auto;
  width: 45%;
}
@media (max-width: 1200px) {
  .error-page-image {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
  }
}