@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  counter-reset: sub-nav-counter;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  background-color: #fdfcfa;
  padding: 0 30rem 20rem;
  font-size: 10rem;
}

.portfolio-index-sub-nav-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.portfolio-index-sub-nav-link:nth-of-type(odd) {
  justify-content: flex-start;
}
.portfolio-index-sub-nav-link:nth-of-type(even) {
  outline: 2px dotted #f00;
  margin-left: auto;
}

.featured-portfolio-link::before {
  counter-increment: sub-nav-counter;
  content: "0" counter(sub-nav-counter) ". ";
}