@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  counter-reset: sub-nav-counter;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  background-color: #fdfcfa;
  padding: 0 30rem 20rem;
  font-size: 10rem;
}

.portfolio-index-subheading {
  color: #535cb0;
}

.portfolio-index-sub-nav-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.portfolio-index-sub-nav-link:nth-of-type(odd) {
  justify-content: flex-start;
}
.portfolio-index-sub-nav-link:nth-of-type(even) {
  margin-left: auto;
}

.featured-portfolio-link {
  margin-bottom: 10rem;
}
.featured-portfolio-link::before {
  counter-increment: sub-nav-counter;
  content: "0" counter(sub-nav-counter) ". ";
}
.featured-portfolio-link:nth-of-type(1) {
  color: #b09b53;
}
.featured-portfolio-link:nth-of-type(2) {
  color: #b07677;
}
.featured-portfolio-link:nth-of-type(3) {
  color: #5bb072;
}
.featured-portfolio-link:nth-of-type(4) {
  color: #535cb0;
  margin-bottom: 0;
}

.portfolio-illustration-portfolio-link-section {
  margin: 0;
  padding: 20rem 40rem;
  background-color: #b09b53;
}

.portfolio-illustration-portfolio-subheading {
  margin: 0 auto;
  font-size: 5rem;
  color: #fdfcfa;
}

.portfolio-illustration-portfolio-link {
  text-decoration: none;
}

.contact-section {
  background-color: #fdfcfa;
  color: #b07677;
}