html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #c9d8ff, #d5c7ff);
  background-size: 400% 400%;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.hide-outline .no-outline {
  outline: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.main-content p {
  font-family: "ff-dagny-web-pro", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-weight: bold;
  color: #252525;
  text-align: center;
}

.email {
  word-break: break-all;
}

input,
button,
textarea,
select {
  font: inherit;
}

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.show-on-focus {
  position: absolute;
  color: #252525;
  background-color: white;
  padding: 10px;
  font-size: 1.25rem;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;
}
.show-on-focus:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}