//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Main Grid Mixin
@mixin main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'h h h h'
    'm m m m'
    'f f f f';
  grid-gap: $grid-gap;
}

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//* Layout Variables
$grid-gap: 0 1rem;

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin main-font-stack {
  font-family: 'futura-pt-bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}

//********** Sizing & spacing **********

//* Font sizing

$font-size-extra-large: 10rem;
$font-size-large: 5rem;
$font-size-large-medium: 3.5rem;
$font-size-medium: 2.5rem;
$font-size-smaller: 1.75rem;
$font-size-small: 1rem;

//* Headings

//Sizing
$heading-size-large: $font-size-extra-large;
$heading-size-medium: $font-size-large;

//Spacing
$heading-spacing-large: 20rem;

//* Sections

// Spacing
$section-spacing-super-large: 40rem;
$section-spacing-extra-large: 35rem;
$section-spacing-big: 30rem;
$section-spacing-larger: 25rem;
$section-spacing-large: 20rem;
$section-spacing-medium: 15rem;
$section-spacing-small: 10rem;
$section-spacing-smallish: 7.5rem;
$section-spacing-smaller: 5rem;
$section-spacing-tiny: 2.5rem;

//Spacing
$paragraph-spacing-extra-large: 10rem;
$paragraph-spacing-larger: 7.5rem;
$paragraph-spacing-large: 5rem;
$paragraph-spacing-medium: 2.5rem;
$paragraph-spacing-small: 1rem;

//* Forms

//Sizing
$input-font-size: $font-size-small;

//Spacing
$input-spacing: 1rem;

//********** Links **********

//* Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-one;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//* Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $transition-one;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(800) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//*=========================================
//** Colours  **
//*=========================================

//Brand Colours
$green: #5bb072;
$blue: #535cb0;
$gold: #b09b53;
$light: #fdfcfa;
$brown: #b07677;

//Main Font Colours
$font-colour-light: #f4f1f0;
$font-colour-dark: #252525;

//*=========================================
//** Effects and Animation  **
//*=========================================

//********** Transition Timings**********

$transition-one: 0.2s ease-in 0s;

//********** Scrollbar Mixin **********

@mixin styled-scrollbar(
  $size,
  $color,
  $background-colour,
  $track-shadow-colour
) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: scale-color($color, $lightness: 20%);
    position: relative;
    bottom: 10rem;
    border-radius: 10px;

    &:hover {
      background-color: $color;
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-colour;
    box-shadow: inset 0 0 3px $track-shadow-colour;
  }
}

//********** Arrow Bounce **********

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

//*=========================================
//** Media Queries   **
//*=========================================

//********** Max Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}
