//*==============================================================================
//** Homepage **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Header **
//*=========================================

.homepage-header-content-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
}

.homepage-header-text-wrapper {
  color: $font-colour-blue;
  font-size: $font-size-large;
  flex: 0 1 auto;

  p {
    margin: 0;

    &:first-of-type {
      margin-bottom: $paragraph-spacing-large;
    }
  }
}

.homepage-header-image {
  flex: 0 1 auto;
}

.homepage-header-text-wrapper,
.homepage-header-image {
  width: 47%;
}

//*=========================================
//** Main **
//*=========================================

.homepage-section {
  margin: 0;
  padding: $section-spacing-large $section-spacing-super-large;
  color: $font-colour-light;
}

//*=========================================
//** Section One **
//*=========================================

.homepage-section-one {
  background-color: $background-colour-blue;
}

.homepage-bio-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.homepage-section-one-main-image-wrapper {
  width: 100%;
  margin-bottom: $section-spacing-large;
}

.homepage-bio-div {
  @include flex(row);
  justify-content: space-between;
  width: 100%;
  font-size: $font-size-large;
  margin-bottom: $section-spacing-large;
  position: relative;
}

.bio-image-wrapper,
.bio-text-wrapper {
  flex: 0 1 auto;
  width: 50%;
}

.bio-image-wrapper {
  margin-right: $section-spacing-small;
  margin-top: $section-spacing-large;
}

.bio-text-wrapper {
  p {
    margin: 0;
  }
}

//*=========================================
//** Section Two **
//*=========================================

.homepage-section-two {
  background-color: $background-colour-gold;
}

.section-two-paragraph {
  color: $font-colour-light;
  font-size: $font-size-large;
  margin: 0 auto $section-spacing-large;
}

.section-two-flex-wrapper {
  @include flex(row);
  align-items: center;
  margin: 0 auto $section-spacing-large;
}

.section-two-flex-paragraph {
  margin: 0;
}

.section-two-flex-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-left: $section-spacing-small;
}

.homepage-call-to-action-link-wrapper {
  flex: 1 0 auto;
  @include flex(column);
  justify-content: center;
  align-items: center;
  background-color: $background-colour-light;
  width: 275px;
  height: 275px;
  padding: $paragraph-spacing-medium;
  border-radius: 50%;
}

.homepage-call-to-action-link {
  color: $font-colour-blue;
  font-size: $font-size-medium;
  text-align: center;
}
