// *=======================================================================================
// ** Styles for all pages  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Wrappers **
// *=========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
  margin: 0;
  background-color: $background-colour-light;

  @include styled-scrollbar(
    $font-size-small,
    $background-colour-blue,
    $background-colour-light,
    $background-colour-light
  );
}

body {
  @include main-font-stack;
  position: relative;
  width: 100%;
  min-width: 320px;
  //TODO: Choose max width
  max-width: 2520px;
  margin: 0 auto;
  padding: 0;
  background: none;
  // Removes small gap below footer
  //TODO: Check this doesn't mess stuff up
  line-height: 0;
}

.site-wrapper {
  // Removes small gap below footer
  line-height: normal;
  width: 100%;
  overflow: visible;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

section,
main {
  position: relative;
  overflow: hidden;
  z-index: 2;
  /*
  * Fixes IOS Bug where scrolling breaks z-index
  https://stackoverflow.com/questions/16033416/while-scrolling-on-an-ios-device-the-z-index-of-elements-isnt-working
  */
  -webkit-transform: translate3d(0, 0, 0);
}

// *=========================================
// ** Headings **
// *=========================================

h1 {
  font-size: $heading-size-large;
  text-align: center;
  margin: 0 auto;
  overflow-wrap: break-word;
}

h2 {
  font-size: $heading-size-large;
  text-align: center;
  margin: 0 auto $section-spacing-large;
  overflow-wrap: break-word;
}

h3 {
  font-size: $heading-size-medium;
  text-align: center;
  margin: 0 auto $paragraph-spacing-large;
  overflow-wrap: break-word;
}

.section-heading {
  font-size: $heading-size-large;
  width: fit-content;
  margin: 0 auto $section-spacing-large;

  @include breakpoint(1400) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(1200) {
    font-size: $heading-size-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Paragraphs **********
p {
  margin: 0 auto $paragraph-spacing-large;
  overflow-wrap: break-word;
}

//********** Links **********

a {
  color: inherit;
  text-decoration: underline;
}

//*=========================================
//** Header **
//*=========================================

.header {
  position: relative;
  z-index: 3;
  overflow: visible;
  /*
  * Fixes IOS Bug where scrolling breaks z-index
  https://stackoverflow.com/questions/16033416/while-scrolling-on-an-ios-device-the-z-index-of-elements-isnt-working
  */
  -webkit-transform: translate3d(0, 0, 0);
  background-color: $background-colour-light;
}

.main-header {
  padding: 0 $section-spacing-extra-large $section-spacing-large;
  overflow: visible;

  @include breakpoint(1800) {
    padding: 0 $section-spacing-large $section-spacing-large;
  }

  @include breakpoint(1400) {
    padding: 0 $section-spacing-medium $section-spacing-medium;
  }

  @include breakpoint(1200) {
    padding: 0 $section-spacing-small $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-tiny $section-spacing-small;
  }
}

//********** Main Logo **********

.main-logo-wrapper {
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  margin: $paragraph-spacing-small auto $section-spacing-large;

  //TODO: Looks good on homepage. Check it's good everywhere else.
  @include breakpoint(1400) {
    margin: $paragraph-spacing-small auto $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

.main-logo-image {
  flex: 0 1 auto;
}

.main-logo-text {
  width: 100%;
}

.kate-images-wrapper {
  width: 155px;
}

.main-logo-images-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
}

.main-logo-image-wrapper {
  position: relative;
  overflow: hidden;
}

.mark-images-wrapper {
  width: 113px;
}

.animated-logo-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hidden-main-logo {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
  width: 0;
  height: 0;
}

.header-page-title {
  font-size: $heading-size-large;
  color: $font-colour-green;
  width: fit-content;
  text-transform: uppercase;
  margin: 0 auto;

  @include breakpoint(1200) {
    font-size: $heading-size-medium;
  }
}

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
  font-size: $font-size-medium;
  height: fit-content;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
  top: $paragraph-spacing-medium;
  left: $paragraph-spacing-medium;
  position: absolute;
}

.main-nav-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5rem 0 0;
  height: fit-content;
  white-space: nowrap;
  color: $font-colour-green;

  &:first-of-type {
    margin: 0;
  }
}

#main-nav-current {
  display: none;
}

.main-nav-trigger-wrapper {
  display: none;
}

//********** Responsive Nav Styles **********

.main-nav {
  @include breakpoint(750) {
    display: none;
  }
}

// *=========================================
// ** Body **
// *=========================================

.call-to-action-link-wrapper {
  @include flex(column);
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 275px;
  border-radius: 50%;
}

.call-to-action-link {
  font-size: $font-size-medium;
  text-align: center;
  text-decoration: none;
}

//*=========================================
//** Contact Section **
//*=========================================

.contact-section {
  margin: 0;
  padding: $section-spacing-large $section-spacing-super-large;

  @include breakpoint(1800) {
    padding: $section-spacing-large;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-medium;
  }

  @include breakpoint(1200) {
    padding: $section-spacing-medium $section-spacing-small;
  }

  @include breakpoint(700) {
    padding: $section-spacing-small $section-spacing-tiny;
  }
}

.contact-heading {
  margin: 0 auto;
  font-size: $heading-size-medium;
}

// *=========================================
// ** Footer  **
// *=========================================

.main-footer {
  color: $font-colour-light;
  font-size: $font-size-medium;
  background-color: $background-colour-blue;
  padding: $section-spacing-large $section-spacing-super-large;
  margin: 0;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  p {
    text-align: center;
    margin-bottom: $paragraph-spacing-medium;
    line-height: normal;
  }

  a {
    color: inherit;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-medium;
  }

  @include breakpoint(700) {
    padding: $section-spacing-small $section-spacing-tiny;
  }
}

.sticky-footer-wrapper {
  overflow-x: hidden;
}

.footer-social-media-wrapper {
  @include flex(row);
  justify-content: space-between;
  margin: 0 auto $section-spacing-large;
  width: 150px;

  @include breakpoint(1400) {
    margin: 0 auto $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin: 0 auto $section-spacing-small;
  }
}

@keyframes social-rotate {
  100% {
    transform: rotate(720deg);
  }
}

.footer-social-media-link {
  width: 50px;

  &:hover {
    animation: social-rotate 1s ease-in-out infinite forwards;
  }
}

.footer-copyright {
  margin: 0 auto;
}

//*=========================================
//** Utility & Accessibility  **
//*=========================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  color: $font-colour-blue;
  background-color: $background-colour-light;
  padding: 10px;
  font-size: $font-size-medium;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//* Hides outline unless tab key is pressed

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: 3px dashed #ff5e00;
  }
}

.perch-debug {
  line-height: normal;
}

//*=========================================
//** Animation **
//*=========================================

//********** Fade and Swap Three **********

.fade-and-swap-nine {
  position: relative;
}

.fade-and-swap-nine-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}

//********** Fade and Swap Three **********

.fade-and-swap-three {
  position: relative;
}

.fade-and-swap-three-images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================
