// *=======================================================================================
// ** Styles for all pages  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Wrappers **
// *=========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  @include main-font-stack;
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: $background-colour-light;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********

//********** Containers **********

//********** Paragraphs **********

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Links **********

a {
  text-decoration: none;
}

//*=========================================
//** Header **
//*=========================================

.main-header {
  position: relative;
  padding: 0 $section-spacing-extra-large;
  margin-bottom: $section-spacing-large;
  background-color: $background-colour-light;
}

.main-logo-wrapper {
  width: 100%;
  max-width: 350px;
  margin: $paragraph-spacing-small auto $section-spacing-large;
}

.hidden-main-logo {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
  font-size: $font-size-medium;
  height: fit-content;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
  top: $paragraph-spacing-medium;
  left: $paragraph-spacing-medium;
  position: absolute;
}

.main-nav-link {
  display: inline-block;
  text-transform: uppercase;
  margin: 5rem 0 0;
  height: fit-content;
  white-space: nowrap;
  color: $font-colour-green;

  &:first-of-type {
    margin: 0;
  }
}

#main-nav-current {
  display: none;
}

.main-nav-trigger-wrapper {
  display: none;
}

//********** Responsive Nav Styles **********

// *=========================================
// ** Body **
// *=========================================

.section-heading {
  font-size: 10rem;
  width: fit-content;
  margin: 0 auto $section-spacing-large;
}

// *=========================================
// ** Forms  **
// *=========================================

//* Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

//********** Honeypot **********

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

// *=========================================
// ** Footer  **
// *=========================================

//*=========================================
//** Utility & Accessibility  **
//*=========================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  color: #000;
  background-color: #fff;
  padding: 10px;
  font-size: $font-size-medium;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//* Hides outline unless tab key is pressed

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: 3px dashed #ff5e00;
  }
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================
