//*==============================================================================
//** Services **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** General Styles **
//*=========================================

.services-section {
  padding: $section-spacing-large $section-spacing-larger;

  @include breakpoint(1700) {
    padding: $section-spacing-large $section-spacing-large;
  }

  @include breakpoint(1600) {
    padding: $section-spacing-large $section-spacing-small;
  }

  @include breakpoint(1400) {
    padding: $section-spacing-medium $section-spacing-small;
  }

  @include breakpoint(750) {
    padding: $section-spacing-medium $section-spacing-tiny;
  }

  @include breakpoint(700) {
    padding: $section-spacing-small $section-spacing-tiny;
  }
}

.services-text-wrapper {
  font-size: $font-size-large;
  text-align: center;

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint(1400) {
    font-size: $font-size-medium;
  }

  @include breakpoint(700) {
  }
}

.branding-image-wrapper {
  flex: 0 1 auto;
  width: 500px;

  @include breakpoint(1100) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

.branding-image {
  width: 100%;
  height: auto;
}

.want-more-paragraph-wrapper {
  margin: 0 auto $section-spacing-large;

  @include breakpoint(1400) {
    margin: 0 auto $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin: 0 auto $section-spacing-small;
  }
}

.svg-down-arrow {
  @include flex(row);
  justify-content: center;
  animation: arrow-bounce 2s linear infinite forwards;
}

.services-subheading {
  margin-bottom: $section-spacing-medium;

  @include breakpoint(1400) {
    font-size: $heading-size-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

//*=========================================
//** Tabs **
//*=========================================

.tab-buttons-wrapper {
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 $section-spacing-larger;
  background-color: $background-colour-light;

  @include breakpoint(1700) {
    padding: 0 $section-spacing-large;
  }

  @include breakpoint(1600) {
    padding: 0 $section-spacing-small;
  }

  @include breakpoint(750) {
    padding: 0 $section-spacing-tiny;
  }

  @include breakpoint(600) {
    @include flex(column);
  }
}

.tab-button {
  //FIXME: Why doesn't this work without the font stack here?
  @include main-font-stack;
  font-size: $font-size-large;
  flex: 1 1 auto;
  width: 30%;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;

  @include breakpoint(1400) {
    font-size: $font-size-medium;
  }

  @include breakpoint(600) {
    width: 100%;
    padding: $paragraph-spacing-small 0;
  }
}

.tab-button#branding {
  background-color: $background-colour-blue;
  color: $font-colour-light;

  &[aria-selected='true'] {
    background-color: $background-colour-light;
    color: $font-colour-blue;
  }
}

.tab-button#websites {
  color: $font-colour-light;
  background-color: $background-colour-gold;

  &[aria-selected='true'] {
    background-color: $background-colour-light;
    color: $font-colour-gold;
  }
}

.tab-button#illustration {
  background-color: $background-colour-brown;
  color: $font-colour-light;
  transition: all 0.3 ease;

  &[aria-selected='true'] {
    background-color: $background-colour-light;
    color: $font-colour-brown;
  }
}

#websites,
#illustration {
  color: $font-colour-light;
}

.tab-panel {
  width: 100%;
}

.branding-tab-panel {
  background-color: $background-colour-blue;
}

.websites-tab-panel {
  background-color: $background-colour-brown;
}

.illustration-tab-panel {
  background-color: $background-colour-gold;
}

//*==============================================================================
//** Branding **
//*==============================================================================

.services-intro-section {
  @include flex(row);
  justify-content: center;
  align-items: center;
  background-color: $background-colour-light;
  color: $font-colour-blue;
  overflow: hidden;

  @include breakpoint(1700) {
    @include flex(column);
  }
}

.services-intro-text-wrapper {
  flex: 1 1 auto;
  width: 60%;

  @include breakpoint(1700) {
    width: 100%;
    margin-bottom: $section-spacing-large;
  }

  @include breakpoint(1400) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

.services-intro-image-wrapper {
  flex: 0 1 auto;
  margin-left: $section-spacing-small;
  width: 40%;

  @include breakpoint(1700) {
    height: 70vh;
    width: auto;
    object-fit: contain;
    margin: 0;
  }

  @include breakpoint(700) {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.services-intro-image {
  width: 100%;
  height: auto;
}

//*=========================================
//** Branding Process **
//*=========================================

.branding-process-section {
  background-color: $background-colour-blue;
  color: $font-colour-light;
}

//*=========================================
//** Essential Branding Package  **
//*=========================================

.essential-branding-package-section {
  background-color: $background-colour-gold;
  color: $font-colour-light;
}

.branding-package-price-paragraph {
  margin: $section-spacing-large auto;
  font-size: $font-size-large;
  text-align: center;

  @include breakpoint(1400) {
    margin: $section-spacing-medium auto;
  }

  @include breakpoint(700) {
    margin: $section-spacing-small auto;
  }
}

.branding-package-cta-wrapper {
  @include flex(row);
  justify-content: space-between;
  margin: 0 auto $section-spacing-large;
  align-items: center;
  width: 100%;
  max-width: 1000px;

  @include breakpoint(1400) {
    margin: 0 auto $section-spacing-medium;
  }

  @include breakpoint(1100) {
    @include flex(column);
  }

  @include breakpoint(700) {
    margin: 0 auto $section-spacing-small;
  }
}

.essential-branding-call-to-action-link-wrapper {
  background-color: $background-colour-light;
}

.essential-branding-call-to-action-link {
  color: $font-colour-blue;
}

.essential-svg-down-arrow {
  svg .a {
    stroke: $font-colour-light;
  }
}

//*=========================================
//** Extended Branding Package **
//*=========================================

.extended-branding-package-section {
  background-color: $background-colour-light;
}

.extended-services-subheading {
  color: $font-colour-brown;
}

.extended-branding-process-text-wrapper {
  color: $font-colour-gold;
}

.extended-branding-call-to-action-link-wrapper {
  background-color: $background-colour-gold;
  color: $font-colour-light;
}

.extended-svg-down-arrow {
  svg .a {
    stroke: $font-colour-blue;
  }
}

.extended-branding-package-price-paragraph {
  color: $font-colour-brown;
}

.extended-branding-want-more-paragraph {
  color: $font-colour-blue;
}

//*=========================================
//** Custom Branding **
//*=========================================

.custom-branding-section {
  @include flex(row);
  align-items: center;

  background-color: $background-colour-brown;
  color: $font-colour-light;

  @include breakpoint(700) {
    @include flex(column);
  }
}

.custom-services-text-wrapper {
  margin-right: $section-spacing-medium;

  @include breakpoint(1400) {
    margin: 0 $section-spacing-medium 0 0;
  }

  @include breakpoint(1000) {
    margin: 0 $section-spacing-tiny 0 0;
  }

  @include breakpoint(700) {
    margin: 0 0 $section-spacing-small;
  }
}

.custom-branding-call-to-action-link-wrapper {
  background-color: $background-colour-light;
  color: $font-colour-gold;
}

//*=========================================
//** Small Print **
//*=========================================

.small-print-section {
  background-color: $background-colour-blue;
  color: $font-colour-light;
}

.small-print-text-wrapper {
  margin-bottom: $section-spacing-large;

  @include breakpoint(1400) {
    margin-bottom: $section-spacing-medium;
  }
}

.yes-svg-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  path,
  line {
    fill: #fff;
    stroke: #fff;
  }
}

.branding-yes-svg-wrapper {
  path,
  line {
    fill: $font-colour-light;
    stroke: $font-colour-light;
  }
}

//*=========================================
//** Branding Contact Section **
//*=========================================

.branding-services-contact-section {
  color: $font-colour-gold;
  background-color: $background-colour-light;
}

//*==============================================================================
//** Websites Tab**
//*==============================================================================

//*=========================================
//** Design **
//*=========================================

.web-design-section {
  background-color: $background-colour-blue;
  color: $font-colour-light;
}

//*=========================================
//** Development **
//*=========================================

.web-development-section {
  background-color: $background-colour-gold;
  color: $font-colour-light;
}

//*=========================================
//** Small Print **
//*=========================================
.websites-small-print-section {
  background-color: $background-colour-light;
  color: $font-colour-blue;
}

.websites-small-print-subheading {
  color: $font-colour-brown;
}

//TODO: Remove this and leave to redactor styling
.h3-gold-subheading {
  color: $font-colour-gold;
}

.websites-get-started-subheading {
  color: $font-colour-brown;
}

.websites-yes-svg-wrapper {
  path,
  line {
    fill: $font-colour-gold;
    stroke: $font-colour-gold;
  }
}

//*=========================================
//** Websites Contact Section **
//*=========================================
.websites-contact-section {
  background-color: $background-colour-brown;
  color: $font-colour-light;
}

//*==============================================================================
//** Illustration **
//*==============================================================================

//*=========================================
//** Illustration Take a Look **
//*=========================================

.illustration-take-a-look-section {
  background-color: $background-colour-blue;
  color: $font-colour-light;
}

.illustration-take-a-look-subheading {
  margin: 0 auto;
}

//*=========================================
//** Illustration Small Print **
//*=========================================

.illustration-services-small-print-section {
  background-color: $background-colour-gold;
  color: $font-colour-light;
}

//*=========================================
//** Illustration Contact **
//*=========================================
.illustration-contact-section {
  background-color: $background-colour-light;
  color: $font-colour-brown;
}
