//*==============================================================================
//** Services **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** General Styles **
//*=========================================
.services-section {
  padding: $section-spacing-large $section-spacing-larger;
}

.branding-text-wrapper {
  font-size: $font-size-large;

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

//*=========================================
//** Tabs **
//*=========================================

.tab-buttons-wrapper {
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: $font-size-large;
  padding: 0 $section-spacing-larger;
}

.tab-button {
  flex: 1 0 auto;
  width: 300px;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-button#branding {
  background-color: $background-colour-blue;
  color: $font-colour-light;

  &[aria-selected='true'] {
    background-color: $background-colour-light;
    color: $font-colour-blue;
  }
}

.tab-button#websites {
  color: $font-colour-light;
  background-color: $background-colour-gold;

  &[aria-selected='true'] {
    background-color: $background-colour-light;
    color: $font-colour-gold;
  }
}

.tab-button#illustration {
  background-color: $background-colour-brown;
  color: $font-colour-light;
  transition: all 0.3 ease;

  &[aria-selected='true'] {
    background-color: $background-colour-light;
    color: $font-colour-brown;
  }
}

#websites,
#illustration {
  color: $font-colour-light;
}

.tab-panel {
  width: 100%;
}

.branding-tab-panel {
  background-color: $background-colour-blue;
}

.websites-tab-panel {
  background-color: $background-colour-brown;
}

.illustration-tab-panel {
  background-color: $background-colour-gold;
}

//*=========================================
//** Branding **
//*=========================================

.branding-intro-section {
  @include flex(row);
  align-items: center;
  background-color: $background-colour-light;
  color: $font-colour-blue;
}

.branding-intro-text-wrapper,
.branding-intro-image {
  flex: 0 1 auto;
  width: 50%;
}

.branding-intro-image {
  margin-left: $section-spacing-small;
}

//*=========================================
//** Process **
//*=========================================

.branding-process-section {
  background-color: $background-colour-blue;
  color: $font-colour-light;
}
