// *=======================================================================================
// ** Styles for all pages  **
// ** Reset based on https://hankchizljaw.com/wrote/a-modern-css-reset/  **
// *=======================================================================================

//********** Imports **********

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Wrappers **
// *=========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********

//********** Containers **********

//********** Paragraphs **********

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Links **********

// *=========================================
// ** Header  **
// *=========================================

//* Hides outline unless tab key is pressed

.hide-outline {
  .no-outline {
    outline: none;
  }
}
// *=========================================
// ** Main Nav  **
// *=========================================

// *=========================================
// ** Body **
// *=========================================

// *=========================================
// ** Forms  **
// *=========================================

//* Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

//********** Honeypot **********

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

// *=========================================
// ** Footer  **
// *=========================================

//*=========================================
//** Utility & Accessibility  **
//*=========================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  color: $dark-font-colour;
  background-color: $light-background-colour;
  padding: 10px;
  font-size: $font-size;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================
