        <perch:group label="Branding Tab Content">
          <!-- Branding Intro -->
          <section class="services-section branding-intro-section">
            <div class="branding-text-wrapper branding-intro-text-wrapper">
              <perch:content id="brandingIntroText" type="textarea" editor="redactor" label="Branding Intro Text" divider-before="Branding Intro" required html>
            </div>
            <img class="branding-intro-image" itemprop="image" src="<perch:content id="brandingIntroImg" type="image" width="1000" label="Branding Intro Image" quality="70">" alt="<perch:content id="brandingImgAlt" type="text" label="Branding Image Description">"
            sizes="40vw"
            srcset="<perch:content type="image" id="brandingIntroImg" width="1000" > 1000w,
            <perch:content type="image" id="brandingIntroImg" width="800" quality="70"> 800w,
            <perch:content type="image" id="brandingIntroImg" width="600" quality="70"> 600w,
            <perch:content type="image" id="brandingIntroImg" width="500" quality="70"> 500w" >

          </section>
          <!-- Branding Process -->
          <section class="services-section branding-process-section">
            <h2 class="services-subheading">
              <perch:content id="brandingProcessSubtitle" type="text" label="Branding Process Subheading" divider-before="Process" required>
            </h2>
            <div class="branding-text-wrapper branding-process-text-wrapper">
              <perch:content id="processText" type="textarea" editor="redactor" label="Branding Process Text" required html>
            </div>
          </section>
          <!-- Branding Essential Package  -->
          <section class="services-section essential-branding-package-section">
            <h2 class="services-subheading">
              <perch:content id="brandingPackageSubheading" type="text" label="Essential Branding Package Subheading" divider-before="Essential Branding Package" required>
            </h2>
            <div class="branding-text-wrapper essential-branding-process-text-wrapper">
              <perch:content id="essentialBrandingProcessTextWrapper" type="textarea" editor="redactor" label="Branding Essential Package Text" required html>
              </div>
              <p class="branding-package-price-paragraph essential-branding-package-price-paragraph">
                <perch:content id="essentialBrandingPrice" type="text" label="Essential Branding Package Price" required >
              </p>
              <div class="branding-package-cta-wrapper">
                <img class="branding-image essential-branding-image" itemprop="image" src="<perch:content id="essentialBrandingImage" type="image" width="1000" label="Essential Branding Image" quality="70">" alt="<perch:content id="essentialImgAlt" type="text" label="Essential Branding Image Description">"
                sizes="100vw"
                srcset="<perch:content type="image" id="essentialBrandingImage" width="1000" > 1000w,
                <perch:content type="image" id="essentialBrandingImage" width="900" quality="70"> 900w,
                <perch:content type="image" id="essentialBrandingImage" width="800" quality="70"> 800w,
                <perch:content type="image" id="essentialBrandingImage" width="700" quality="70"> 700w,
                <perch:content type="image" id="essentialBrandingImage" width="600" quality="70"> 600w" >

                <div class="call-to-action-link-wrapper essential-branding-call-to-action-link-wrapper">
                  <!-- TODO: Insert proper links -->
                  <a class="call-to-action-link essential-branding-call-to-action-link" href="<perch:content id="essentialBrandingCTALink" type="text" label="Essential Branding Call To Action Link" required>">
                    <perch:content id="essentialBrandingCtaLinkText" type="text" label="Essential Branding Call To Action Text">
                  </a>
                </div>
              </div>
              <div class="branding-text-wrapper want-more-paragraph-wrapper">
                <p class="want-more-paragraph essential-branding-want-more-paragraph">
                  <perch:content id="essentialwantMorePara" type="text" label="Essential Want More Paragraph">
                </p>
              </div>

              <div class="svg-down-arrow essential-svg-down-arrow">
                <perch:template path="svg/svg_arrow.html">
              </div>
          </section>
          <!-- Extended Branding Package -->
          <section class="services-section extended-branding-package-section">
            <h2 class="services-subheading extended-services-subheading">
              <perch:content id="brandingExtendedPackageSubheading" type="text" label="Extended Branding Package Subheading" divider-before="Extended Branding Package" required>
            </h2>
            <div class="branding-text-wrapper extended-branding-process-text-wrapper">
              <perch:content id="extendedlBrandingProcessTextWrapper" type="textarea" editor="redactor" label="Branding Extended Package Text" required html>
              </div>
              <p class="branding-package-price-paragraph extended-branding-package-price-paragraph">
                <perch:content id="extendedBrandingPrice" type="text" label="Extended Branding Package Price" required >
              </p>
              <div class="branding-package-cta-wrapper">
                <img class="branding-image extended-branding-image" itemprop="image" src="<perch:content id="extendedBrandingImage" type="image" width="1000" label="Extended Branding Image" quality="70">" alt="<perch:content id="extendedImgAlt" type="text" label="Extended Branding Image Description">"
                sizes="100vw"
                srcset="<perch:content type="image" id="extendedBrandingImage" width="1000" > 1000w,
                <perch:content type="image" id="extendedBrandingImage" width="900" quality="70"> 900w,
                <perch:content type="image" id="extendedBrandingImage" width="800" quality="70"> 800w,
                <perch:content type="image" id="extendedBrandingImage" width="700" quality="70"> 700w,
                <perch:content type="image" id="extendedBrandingImage" width="600" quality="70"> 600w" >

                <div class="call-to-action-link-wrapper extended-branding-call-to-action-link-wrapper">
                  <!-- TODO: Insert proper link -->
                  <a class="call-to-action-link extended-branding-call-to-action-link" href="<perch:content id="extendedCTALink" type="text" label="Extended Branding Call To Action Link" required></a>">
                    <perch:content id="extendedBrandingCtaLink" type="text" label="Extended Branding Call To Action Text">
                  </a>
                </div>
              </div>
              <div class="branding-text-wrapper want-more-paragraph-wrapper">
                <p class="want-more-paragraph extended-branding-want-more-paragraph">
                  <perch:content id="extendedWantMorePara" type="text" label="Extended Want More Paragraph">
                </p>
              </div>

              <div class="svg-down-arrow extended-svg-down-arrow">
                <perch:template path="svg/svg_arrow.html">
              </div>
          </section>
          <!-- Custom Branding -->
          <section class="section services-section custom-branding-section">
            <div class="branding-text-wrapper custom-branding-text-wrapper">
              <perch:content id="customBrandingText" type="textarea" editor="redactor" label="Custom Branding Text" divider-before="Custom Branding Package" required html>
            </div>
            <div class="call-to-action-link-wrapper custom-branding-call-to-action-link-wrapper">
              <!-- TODO: Insert proper link -->
              <a class="call-to-action-link custom-branding-call-to-action-link" href="<perch:content id="customCTALink" type="text" label="Custom Branding Call To Action Link" required>">
                <perch:content id="customBrandingCtaLinkText" type="text" label="Custom Branding Call To Action Text">
              </a>
            </div>
          </section>
          <!-- Small Print -->
          <section class="services-section small-print-section">
            <h2 class="services-subheading small-print-subheading">
              <perch:content id="smallPrintSubheading" type="text" label="Small Print Subheading" divider-before="Small Print" required>
            </h2>
            <div class="branding-text-wrapper small-print-text-wrapper">
              <perch:content id="smallPrintText" type="textarea" editor="redactor" label="Small Print Text" required html>
            </div>
            <h2 class="services-subheading small-print-subheading">
              <perch:content id="smallPrintSubheadingTwo" type="text" label="Small Print Subheading Two" required>
            </h2>
          </section>
        </perch:group>