<perch:group label="Websites Tab Content">
  <!-- Websites Intro -->
  <section class="services-section services-intro-section">
    <div class="services-text-wrapper services-intro-text-wrapper">
      <perch:content id="websitesIntroText" type="textarea" editor="redactor" label="Websites Intro Text" divider-before="Websites Intro" required html>
    </div>
    <img class="services-intro-image" itemprop="image" src="<perch:content id="websitesIntroImg" type="image" width="1000" label="Websites Intro Image" quality="70">" alt="<perch:content id="websitesImgAlt" type="text" label="Websites Image Description">"
    sizes="40vw"
    srcset="<perch:content type="image" id="websitesIntroImg" width="1000" > 1000w,
    <perch:content type="image" id="websitesIntroImg" width="800" quality="70"> 800w,
    <perch:content type="image" id="websitesIntroImg" width="600" quality="70"> 600w,
    <perch:content type="image" id="websitesIntroImg" width="500" quality="70"> 500w">
  </section>
  <!-- Web Design -->
  <section class="services-section web-design-section">
    <h2 class="services-subheading">
      <perch:content id="webDesignServicesSubheading" type="text" label="Web Design Subheading" divider-before="Web Design" required>
    </h2>
    <div class="services-text-wrapper">
      <perch:content id="webDesignServicesTextWrapper" type="textarea" editor="redactor" label="Web Design Services Text" required html>
    </div>
  </section>
  <!-- Web Development Section -->
  <section class="services-section web-development-section">
    <h2 class="services-subheading">
      <perch:content id="webDevelopmentServicesSubheading" type="text" label="Web Development Subheading" divider-before="Web Development" required>
    </h2>
    <div class="services-text-wrapper">
      <perch:content id="webDevelopmentServicesTextWrapper" type="textarea" editor="redactor" label="Web Development Services Text" required html>
    </div>
  </section>
  <!-- Small Print Section -->
  <section class="services-section websites-small-print-section">
    <h2 class="services-subheading websites-small-print-subheading">
      <perch:content id="websitesSmallPrintSubheading" type="text" label="Websites Small Print Subheading" divider-before="Websites Small Print" required>
    </h2>
    <div class="services-text-wrapper small-print-text-wrapper">
      <perch:content id="wesitesSmallPrintText" type="textarea" editor="redactor" label="Websites Small Print Text" required html>
    </div>
    <!-- Get started -->
    <h2 class="services-subheading websites-get-started-subheading">
      <perch:content id="websitesGetstartedSubheading" type="text" label="Websites &#39;Get Started&#8242; Subheading" required html>
    </h2>
    <div class="yes-svg-wrapper websites-yes-svg-wrapper">
      <perch:template path="svg/yes_svg.html">
    </div>
  </section>
  <!-- Websites Contact Section -->
  <section class="contact-section websites-contact-section">
    <h2 class="section-heading contact-heading">
    CONTACT US <a class="contact-link" href="/about-us">HERE</a>
    </h2>
  </section>
</perch:group>

