<div class="footer-social-media-wrapper">
  <a href="<perch:content id="footerInstagramLink" type="text" label="Footer Instagram Link" required>" class="footer-social-media-link footer-instagram-link">
    <img loading="lazy" src="<perch:content id="footerInstagramIcon" type="image" label="Footer Instagram Icon" required>" alt="Instagram Icon">
  </a>
  <a href="<perch:content id="footerPinterestLink" type="text" label="Footer Pinterest Link" required>" class="footer-social-media-link footer-pinterest-link">
    <img loading="lazy" src="<perch:content id="footerPinterestIcon" type="image" label="Footer Pinterest Icon" required>" alt="Pinterest Icon">
  </a>
</div>