<div class="homepage-header-content-wrapper">
  <div class="homepage-header-text-wrapper">
    <perch:content id="headerTextWrapper" editor="redactor" type="textarea" label="Header Text Wrapper"  required  html>
  </div>
  <div class="homepage-header-image-wrapper fade-and-swap-nine">
    <img class="homepage-header-image" itemprop="image" src="<perch:content id="homepageHeaderImage" type="image" width="1400" height="1400" label="Homepage Header Image" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderImage" width="1400" height="1400" crop> 1400w,
    <perch:content type="image" id="homepageHeaderImage" height="1200" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderImage" height="1000" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderImage" height="800" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderImage" height="600" width="600" crop> 600w">

    <!-- Animated Images  -->
    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageOne" type="image" width="1400" height="1400" label="Homepage Animated Image One" help="Image should be at least 1400px wide and square" divider-before="Animated Images" required crop>" alt="<perch:content id="animatedAltOne" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageOne" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageTwo" type="image" width="1400" height="1400" label="Homepage Animated Image Two" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltTwo" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageThree" type="image" width="1400" height="1400" label="Homepage Animated Image Three" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltThree" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageThree" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageFour" type="image" width="1400" height="1400" label="Homepage Animated Image Four" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltFour" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageFour" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageFive" type="image" width="1400" height="1400" label="Homepage Animated Image Five" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltFive" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageFive" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageSix" type="image" width="1400" height="1400" label="Homepage Animated Image Six" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltSix" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageSix" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageSeven" type="image" width="1400" height="1400" label="Homepage Animated Image Seven" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltSeven" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="600" crop> 600w">

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageEight" type="image" width="1400" height="1400" label="Homepage Animated Image Eight" help="Image should be at least 1400px wide and square" required crop>" alt="<perch:content id="animatedAltEight" type="text" label="Image description">"
    sizes="(max-width: 1100px) 95vw, 40vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageEight" width="1400" height="1400"> 1400w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="1200" crop> 1200w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="1000" crop> 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="800" crop> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="600" crop> 600w">
  </div>
</div>
