<section class="homepage-section homepage-section-two">
  <h1 class="section-heading homepage-section-heading">
    <perch:content id="sectionTwoHeading" type="text" label="Section Two Heading" required>
  </h1>
  <p class="section-two-paragraph">
    <perch:content id="secTwoParaOne" type="text" label="Paragraph One" divider-before="Paragraph One">
  </p>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-one">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaOne" type="text" label="Paragraph Two" divider-before="Paragraph Two">
    </p>
    <div class="section-two-flex-image-wrapper fade-and-swap-nine">
      <img class="section-two-flex-image" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOne" type="image" width="1000" height="1000" label="Section Two Image One" quality="70" crop>" alt="<perch:content id="altOne" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOne" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOne" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOne" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOne" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOne" width="400" height="400" quality="70" crop> 400w">

      <!-- Animated Images  -->
      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedOne" type="image" width="1000" height="1000" label="Section Two Image One Animated Image One" divider-before="Section Two Image One Animated Images" quality="70" crop required>" alt="<perch:content id="altOneAnimatedOne" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedOne" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedOne" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedOne" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedOne" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedOne" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedTwo" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Two" quality="70" crop required>" alt="<perch:content id="altOneAnimatedTwo" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedTwo" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedTwo" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedTwo" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedTwo" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedTwo" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedThree" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Three" quality="70" crop required>" alt="<perch:content id="altOneAnimatedThree" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedThree" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedThree" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedThree" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedThree" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedThree" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedFour" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Four" quality="70" crop required>" alt="<perch:content id="altOneAnimatedFour" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedFour" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFour" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFour" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFour" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFour" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedFive" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Five" quality="70" crop required>" alt="<perch:content id="altOneAnimatedFive" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedFive" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFive" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFive" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFive" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedFive" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedSix" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Six" quality="70" crop required>" alt="<perch:content id="altOneAnimatedSix" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedSix" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSix" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSix" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSix" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSix" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedSeven" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Seven" quality="70" crop required>" alt="<perch:content id="altOneAnimatedSeven" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedSeven" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSeven" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSeven" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSeven" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedSeven" width="400" height="400" quality="70" crop> 400w">

      <img class="section-two-flex-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOneAnimatedEight" type="image" width="1000" height="1000" label="Section Two Image One Animated Image Eight" quality="70" crop required>" alt="<perch:content id="altOneAnimatedEight" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgOneAnimatedEight" width="1000" height="1000" crop> 1000w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedEight" width="900" height="900" quality="70" crop> 900w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedEight" width="800" height="800" quality="70" crop> 800w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedEight" width="600" height="600" quality="70" crop> 600w,
      <perch:content type="image" id="secTwoFlexImgOneAnimatedEight" width="400" height="400" quality="70" crop> 400w">
    </div>
  </div>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-two">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaTwo" type="text" label="Paragraph Three" divider-before="Paragraph Three">
    </p>
    <div class="call-to-action-link-wrapper homepage-call-to-action-link-wrapper homepage-cta-one">
      <a class="call-to-action-link homepage-call-to-action-link-one" href="/about-us">
        <perch:content id="ctaLinkText" type="text" label="Call To Action Two Text">
      </a>
    </div>
  </div>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-three">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaFour" type="text" label="Paragraph Four" divider-before="Paragraph Four">
    </p>
    <div class="section-two-flex-image-wrapper">
      <img class="section-two-flex-image" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgTwo" type="image" width="1000" label="Section Two Image One" quality="70">" alt="<perch:content id="altThree" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgTwo" width="1000" > 1000w,
      <perch:content type="image" id="secTwoFlexImgTwo" width="900" quality="70"> 900w,
      <perch:content type="image" id="secTwoFlexImgTwo" width="800" quality="70"> 800w,
      <perch:content type="image" id="secTwoFlexImgTwo" width="600" quality="70"> 600w,
      <perch:content type="image" id="secTwoFlexImgTwo" width="400" quality="70"> 400w">
    </div>
    <div class="call-to-action-link-wrapper homepage-call-to-action-link-wrapper positioned-call-to-action-wrapper">
      <!-- TODO: Insert proper link -->
      <a class="call-to-action-link homepage-call-to-action-link-two" href="#">
        <perch:content id="ctaLinkTextTwo" type="text" label="Call To Action One Text">
      </a>
    </div>
  </div>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-four">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaFive" type="text" label="Paragraph Five" divider-before="Paragraph Five">
    </p>
    <div class="section-two-flex-image-wrapper">
      <img class="section-two-flex-image" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgThree" type="image" width="1000" label="Section Two Image One" quality="70">" alt="<perch:content id="altFour" type="text" label="Image description">"
      sizes="40vw"
      srcset="<perch:content type="image" id="secTwoFlexImgThree" width="1000" > 1000w,
      <perch:content type="image" id="secTwoFlexImgThree" width="900" quality="70"> 900w,
      <perch:content type="image" id="secTwoFlexImgThree" width="800" quality="70"> 800w,
      <perch:content type="image" id="secTwoFlexImgThree" width="600" quality="70"> 600w,
      <perch:content type="image" id="secTwoFlexImgThree" width="400" quality="70"> 400w">
    </div>
    <div class="call-to-action-link-wrapper homepage-call-to-action-link-wrapper positioned-call-to-action-wrapper">
      <!-- TODO: Insert proper link -->
      <a class="call-to-action-link homepage-call-to-action-link-three" href="#">
        <perch:content id="ctaLinkTextThree" type="text" label="Call To Action One Text">
      </a>
    </div>
  </div>
</section>
