<div class="homepage-header-content-wrapper">
  <div class="homepage-header-text-wrapper">
    <perch:content id="headerTextWrapper" editor="redactor" type="textarea" label="Header Text Wrapper"  required  html>
  </div>
  <div class="homepage-header-image-wrapper fade-and-swap-nine">
    <img class="homepage-header-image" itemprop="image" src="<perch:content id="homepageHeaderImage" type="image" width="500" label="Homepage Header Image" quality="75" required>" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderImage" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderImage" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderImage" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderImage" width="400" quality="75"> 400w" >

      <!-- Animated Images  -->
    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageOne" type="image" width="500" label="Homepage Animated Image One" divider-before="Animated Images" quality="75" required>" alt="<perch:content id="animatedAltOne" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageOne" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageOne" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageTwo" type="image" width="500" label="Homepage Animated Image Two" quality="75" required>" alt="<perch:content id="animatedAltTwo" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageTwo" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageThree" type="image" width="500" label="Homepage Animated Image Three" quality="75" required>" alt="<perch:content id="animatedAltThree" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageThree" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageThree" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageFour" type="image" width="500" label="Homepage Animated Image Four" quality="75" required>" alt="<perch:content id="animatedAltFour" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageFour" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFour" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageFive" type="image" width="500" label="Homepage Animated Image Five" quality="75" required>" alt="<perch:content id="animatedAltFive" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageFive" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageFive" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageSix" type="image" width="500" label="Homepage Animated Image Six" quality="75" required>" alt="<perch:content id="animatedAltSix" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageSix" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSix" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageSeven" type="image" width="500" label="Homepage Animated Image Seven" quality="75" required>" alt="<perch:content id="animatedAltSeven" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageSeven" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageEight" type="image" width="500" label="Homepage Animated Image Eight" quality="75" required>" alt="<perch:content id="animatedAltEight" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageEight" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageEight" width="400" quality="75"> 400w" >

    <img class="homepage-header-image fade-and-swap-nine-images" itemprop="image" src="<perch:content id="homepageHeaderAnimatedImageNine" type="image" width="500" label="Homepage Animated Image Nine" quality="75" required>" alt="<perch:content id="animatedAltNine" type="text" label="Image description">"
    sizes="30vw"
    srcset="<perch:content type="image" id="homepageHeaderAnimatedImageNine" width="1000" > 1000w,
    <perch:content type="image" id="homepageHeaderAnimatedImageNine" width="800" quality="75"> 800w,
    <perch:content type="image" id="homepageHeaderAnimatedImageNine" width="600" quality="75"> 600w,
    <perch:content type="image" id="homepageHeaderAnimatedImageNine" width="400" quality="75"> 400w" >

  </div>
</div>
