<section class="homepage-section homepage-section-two">
  <h1 class="section-heading section-two-heading">
    <perch:content id="sectionTwoHeading" type="text" label="Section Two Heading" required>
  </h1>
  <p class="section-two-paragraph">
    <perch:content id="secTwoParaOne" type="text" label="Paragraph One" divider-before="Paragraph One">
  </p>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-one">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaOne" type="text" label="Paragraph Two" divider-before="Paragraph Two">
    </p>
    <img class="section-two-flex-image" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgOne" type="image" width="1000" label="Section Two Image One" quality="70">" alt="<perch:content id="altOne" type="text" label="Image description">"
    sizes="40vw"
    srcset="<perch:content type="image" id="secTwoFlexImgOne" width="1000" > 1000w,
    <perch:content type="image" id="secTwoFlexImgOne" width="900" quality="70"> 900w,
    <perch:content type="image" id="secTwoFlexImgOne" width="800" quality="70"> 800w,
    <perch:content type="image" id="secTwoFlexImgOne" width="600" quality="70"> 600w,
    <perch:content type="image" id="secTwoFlexImgOne" width="400" quality="70"> 400w">
  </div>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-two">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaTwo" type="text" label="Paragraph Three" divider-before="Paragraph Three">
    </p>
    <div class="call-to-action-link-wrapper homepage-call-to-action-link-wrapper">
      <a class="call-to-action-link homepage-call-to-action-link-one" href="/about-us">
        <perch:content id="ctaLinkText" type="text" label="Call To Action Two Text">
      </a>
    </div>
  </div>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-three">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaFour" type="text" label="Paragraph Four" divider-before="Paragraph Four">
    </p>
    <img class="section-two-flex-image" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgTwo" type="image" width="1000" label="Section Two Image One" quality="70">" alt="<perch:content id="altThree" type="text" label="Image description">"
    sizes="40vw"
    srcset="<perch:content type="image" id="secTwoFlexImgTwo" width="1000" > 1000w,
    <perch:content type="image" id="secTwoFlexImgTwo" width="900" quality="70"> 900w,
    <perch:content type="image" id="secTwoFlexImgTwo" width="800" quality="70"> 800w,
    <perch:content type="image" id="secTwoFlexImgTwo" width="600" quality="70"> 600w,
    <perch:content type="image" id="secTwoFlexImgTwo" width="400" quality="70"> 400w">
    <div class="call-to-action-link-wrapper homepage-call-to-action-link-wrapper positioned-call-to-action-wrapper">
      <!-- TODO: Insert proper link -->
      <a class="call-to-action-link homepage-call-to-action-link-two" href="#">
        <perch:content id="ctaLinkTextTwo" type="text" label="Call To Action One Text">
      </a>
    </div>
  </div>
  <div class="section-two-flex-wrapper section-two-flex-wrapper-four">
    <p class="section-two-paragraph section-two-flex-paragraph">
      <perch:content id="secTwoFlexParaFive" type="text" label="Paragraph Five" divider-before="Paragraph Five">
    </p>
    <img class="section-two-flex-image" itemprop="image" loading="lazy" src="<perch:content id="secTwoFlexImgThree" type="image" width="1000" label="Section Two Image One" quality="70">" alt="<perch:content id="altFour" type="text" label="Image description">"
    sizes="40vw"
    srcset="<perch:content type="image" id="secTwoFlexImgThree" width="1000" > 1000w,
    <perch:content type="image" id="secTwoFlexImgThree" width="900" quality="70"> 900w,
    <perch:content type="image" id="secTwoFlexImgThree" width="800" quality="70"> 800w,
    <perch:content type="image" id="secTwoFlexImgThree" width="600" quality="70"> 600w,
    <perch:content type="image" id="secTwoFlexImgThree" width="400" quality="70"> 400w">
    <div class="call-to-action-link-wrapper homepage-call-to-action-link-wrapper positioned-call-to-action-wrapper">
      <!-- TODO: Insert proper link -->
      <a class="call-to-action-link homepage-call-to-action-link-three" href="#">
        <perch:content id="ctaLinkTextThree" type="text" label="Call To Action One Text">
      </a>
    </div>
  </div>
</section>
