  <p class="swipe-text-paragraph">
    <perch:content id="swipeText" type="text" label="Swipe Text">
  </p>
<section class="illustration-portfolio-section">
  <perch:repeater id="portfolio_slider" label="Portfolio Images">
    <div class="illustration-image-wrapper">
      <img class="illustration-portfolio-image" itemprop="image" loading="lazy" src="<perch:content id="illustrationPortfolioImg" type="image" width="1500" label="Illustration Portfolio Image" quality="80">" alt="<perch:content id="alt" type="text" label="Image Description">"
      sizes="(max-width:1500) 60vw, 100vw"
      srcset="<perch:content type="image" id="illustrationPortfolioImg" width="1500" > 1500w,
      <perch:content type="image" id="illustrationPortfolioImg" width="1200" quality="80"> 1200w,
      <perch:content type="image" id="illustrationPortfolioImg" width="900" quality="80"> 900w,
      <perch:content type="image" id="illustrationPortfolioImg" width="700" quality="80"> 700w,
      <perch:content type="image" id="illustrationPortfolioImg" width="500" quality="80"> 500w" >
    </div>
  </perch:repeater>
</section>
<div class="scroll-svg-arrow-wrapper">
  <perch:template path="svg/scroll_arrow.html">
</div>