<div class="main-logo-images-wrapper">
  <div class="kate-image-wrapper main-logo-image-wrapper">
    <img class="main-logo-image main-logo-kate-image" itemprop="image" loading="lazy" src="<perch:content id="mainLogoKate" type="image" width="400" label="Kate Image" divider-before="Kate Pics">" alt="<perch:content id="katePicOneAlt" type="text" label="Image Description">"
    sizes="(max-width:700px) 100vw, 40vw"
    srcset="<perch:content type="image" id="mainLogoKate" width="400" > 400w,
    <perch:content type="image" id="mainLogoKate" width="300"> 300w,
    <perch:content type="image" id="mainLogoKate" width="200"> 200w,
    <perch:content type="image" id="mainLogoKate" width="100"> 100w" >
    <perch:repeater id="kateAnimatedLogoPics" label="Kate Pics For Animation">
      <img class="main-logo-image animated-logo-image kate-animated-logo-image" itemprop="image" loading="lazy" src="<perch:content id="kateAnimatedLogoImage" type="image" width="400" label="Kate Animated Logo Image">" alt="<perch:content id="animatedKatealt" type="text" label="Image Description">"
      sizes="(max-width:700px) 100vw, 40vw"
      srcset="<perch:content type="image" id="kateAnimatedLogoImage" width="400"> 400w,
      <perch:content type="image" id="kateAnimatedLogoImage" width="300"> 300w,
      <perch:content type="image" id="kateAnimatedLogoImage" width="200"> 200w,
      <perch:content type="image" id="kateAnimatedLogoImage" width="100"> 100w">
    </perch:repeater>
  </div>

  <div class="mark-image-wrapper main-logo-image-wrapper">
    <img class="main-logo-image main-logo-mark-image" itemprop="image" loading="lazy" src="<perch:content id="mainLogoMark" type="image" width="400" label="Mark Image" divider-before="Mark Pics">" alt="<perch:content id="markPicOneAlt" type="text" label="Image Description">"
    sizes="(max-width:700) 100vw, 40vw"
    srcset="<perch:content type="image" id="mainLogoMark" width="400" > 400w,
    <perch:content type="image" id="mainLogoMark" width="300"> 300w,
    <perch:content type="image" id="mainLogoMark" width="200"> 200w,
    <perch:content type="image" id="mainLogoMark" width="100"> 100w">
    <perch:repeater id="markAnimatedLogoPics" label="Mark Pics For Animation">
      <img class="main-logo-image animated-logo-image mark-animated-logo-image" itemprop="image" loading="lazy" src="<perch:content id="markAnimatedLogoImage" type="image" width="400" label="Mark Animated Logo Image">" alt="<perch:content id="animatedMarkAlt" type="text" label="Image Description">"
      sizes="(max-width:700px) 100vw, 40vw"
      srcset="<perch:content type="image" id="markAnimatedLogoImage" width="400"> 400w,
      <perch:content type="image" id="markAnimatedLogoImage" width="300"> 300w,
      <perch:content type="image" id="markAnimatedLogoImage" width="200"> 200w,
      <perch:content type="image" id="markAnimatedLogoImage" width="100"> 100w">
  </perch:repeater>
  </div>
</div>

<div class="logo-text-wrapper">
  <img class="main-logo-text" itemprop="image" loading="lazy" src="<perch:content id="mainLogoText" type="image" width="800" label="Main Logo Text">"
  sizes="(max-width:700px) 100vw, 40vw"
  srcset="<perch:content type="image" id="mainLogoText" width="800" > 800w,
  <perch:content type="image" id="mainLogoText" width="700"> 700w,
  <perch:content type="image" id="mainLogoText" width="600"> 600w,
  <perch:content type="image" id="mainLogoText" width="500"> 500w,
  <perch:content type="image" id="mainLogoText" width="400"> 400w" >
</div>