<section class="homepage-section-one">
  <h2 class="section-heading homepage-section-heading">
    <perch:content id="sectionOneHeading" type="text" label="Section One Heading" required>
  </h2>
  <div class="homepage-section-one-main-image-wrapper">
    <img class="homepage-section-one-main-image" src="<perch:content id="homepageSectionOneMainImage" type="image" width="1000" label="Homepage Bio Main Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="80vw"
    srcset="<perch:content type="image" id="homepageSectionOneMainImage" width="1500" > 1500w,
    <perch:content type="image" id="homepageSectionOneMainImage" width="1000" quality="70"> 1000w,
    <perch:content type="image" id="homepageSectionOneMainImage" width="800" quality="70"> 800w,
    <perch:content type="image" id="homepageSectionOneMainImage" width="600" quality="70"> 600w,
    <perch:content type="image" id="homepageSectionOneMainImage" width="400" quality="70"> 400w" >
  </div>
  <div class="homepage-bio-div homepage-bio-one">
    <div class="bio-text-wrapper">
      <perch:content id="bioOneText" type="textarea" editor="redactor" label="Homepage Bio One"  required  html>
    </div>
    <div class="bio-image-wrapper">
      <img class="homepage-bio-image" src="<perch:content id="homepageBioImageOne" type="image" width="1500" label="Homepage Bio Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
      sizes="80vh"
      srcset="<perch:content type="image" id="homepageBioImageOne" width="1500" > 1500w,
      <perch:content type="image" id="homepageBioImageOne" width="1000" quality="70"> 1000w,
      <perch:content type="image" id="homepageBioImageOne" width="800" quality="70"> 800w,
      <perch:content type="image" id="homepageBioImageOne" width="600" quality="70"> 600w,
      <perch:content type="image" id="homepageBioImageOne" width="400" quality="70"> 400w" >
    </div>
  </div>
  <div class="homepage-bio-div homepage-bio-two">
    <div class="bio-text-wrapper">
      <perch:content id="bioTwoText" type="textarea" editor="redactor" label="Homepage Bio Two"  required  html>
    </div>
    <div class="bio-image-wrapper">
      <img class="homepage-bio-image" src="<perch:content id="homepageBioImageTwo" type="image" width="1500" label="Homepage Bio Image" quality="70">" altTwo="<perch:content id="alt" type="text" label="Image description">"
      sizes="80vh"
      srcset="<perch:content type="image" id="homepageBioImageTwo" width="1500" > 1500w,
      <perch:content type="image" id="homepageBioImageTwo" width="1000" quality="70"> 1000w,
      <perch:content type="image" id="homepageBioImageTwo" width="800" quality="70"> 800w,
      <perch:content type="image" id="homepageBioImageTwo" width="600" quality="70"> 600w,
      <perch:content type="image" id="homepageBioImageTwo" width="400" quality="70"> 400w" >
    </div>
  </div>
</section>