    <div class="tabs-wrapper">
      <div class="tab-buttons-wrapper" role="tablist" aria-label="Services">
        <button class="tab-button" role="tabButton" aria-selected="true" id="branding">
          Branding
        </button>
        <button class="tab-button" role="tabButton" aria-selected="false" id="websites">
          Websites
        </button>
        <button class="tab-button" role="tabButton" aria-selected="false" id="illustration">
          Illustration
        </button>
      </div>
      <div class="tab-panel branding-tab-panel" role="tabpanel" aria-labelledby="branding">
        <perch:group label="Branding Tab Content">
          <section class="services-section branding-intro-section">
            <div class="branding-intro-text-wrapper">
              <perch:content id="brandingIntroText" type="textarea" editor="redactor" label="Branding Intro Text" divider-before="Branding Intro" required html>
            </div>
            <img class="branding-intro-image" itemprop="image" src="<perch:content id="brandingIntroImg" type="image" width="1000" label="Branding Intro Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
            sizes="40vw"
            srcset="<perch:content type="image" id="brandingIntroImg" width="1000" > 1000w,
            <perch:content type="image" id="brandingIntroImg" width="800" quality="70"> 800w,
            <perch:content type="image" id="brandingIntroImg" width="600" quality="70"> 600w,
            <perch:content type="image" id="brandingIntroImg" width="500" quality="70"> 500w" >

          </section>
        </perch:group>
      </div>
      <div class="tab-panel websites-tab-panel" role="tabpanel" aria-labelledby="websites" hidden>
        <h3>Websites</h3>
      </div>
      <div class="tab-panel illustration-tab-panel" role="tabpanel" aria-labelledby="illustration" hidden>
        <h3>Illustrations</h3>
      </div>
    </div>
