    <div class="tabs-wrapper">
      <!-- Tab Buttons -->
      <div class="tab-buttons-wrapper" role="tablist" aria-label="Services">
        <button class="tab-button" role="tabButton" aria-selected="true" id="branding">
          Branding
        </button>
        <button class="tab-button" role="tabButton" aria-selected="false" id="websites">
          Websites
        </button>
        <button class="tab-button" role="tabButton" aria-selected="false" id="illustration">
          Illustration
        </button>
      </div>
      <!-- Tab Panels -->
      <div class="tab-panel branding-tab-panel" role="tabpanel" aria-labelledby="branding">
        <!--* Branding Tab Template -->
        <perch:template path="services/branding.html">
      </div>
      <div class="tab-panel websites-tab-panel" role="tabpanel" aria-labelledby="websites" hidden>
        <!-- * Websites Tab Template -->
        <perch:template path="services/websites.html">
      </div>
      <div class="tab-panel illustration-tab-panel" role="tabpanel" aria-labelledby="illustration" hidden>
        <!-- * Illustrations Tab Template -->
        <perch:template path="services/illustration.html">
      </div>
    </div>
    <!-- TODO: Set group tabs to open in Perch admin -->