<section class="portfolio-section portfolio-project-section">

<perch:blocks>

  <perch:block type="text" label="Text Area" icon="edit">
    <div class="portfolio-project-text-wrapper portfolio-margin-wrapper scrolltrigger-refresh-target">
      <perch:content id="portfolioIntroTextarea" type="textarea" editor="redactor" label="Portfolio Project Introduction Text" required html>
    </div>
  </perch:block>

  <perch:block type="dualImage" label="Dual Image Block" icon="photo">
    <div class="portfolio-dual-image-wrapper portfolio-margin-wrapper scrolltrigger-refresh-target">
    <!-- TODO: Change sourceset sizes -->
    <img class="portfolio-project-dual-image portfolio-project-dual-image-one swipe-in-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioDualImageOne" type="image" width="1200" height="1200" label="Portfolio Project Dual Image One" quality="70" crop>" alt="<perch:content id="altOne" type="text" label="Image Description One">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioDualImageOne" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioDualImageOne" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioDualImageOne" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioDualImageOne" width="600" height="600" quality="70" crop> 600w,
    <perch:content type="image" id="portfolioDualImageOne" width="400" height="400" quality="70" crop> 400w" >

    <img class="portfolio-project-dual-image swipe-in-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioDualImageTwo" type="image" width="1200" height="1200" label="Portfolio Project Dual Image Two" quality="70" crop>" alt="<perch:content id="altTwo" type="text" label="Image Description Two">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioDualImageTwo" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioDualImageTwo" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioDualImageTwo" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioDualImageTwo" width="600" height="600" quality="70" crop> 600w,
    <perch:content type="image" id="portfolioDualImageTwo" width="400" height="400" quality="70" crop> 400w" >
  </div>
</perch:block>

<perch:block type="singleImage" label="Single Image Block" icon="photo">
  <div class="portfolio-single-image-wrapper portfolio-margin-wrapper scrolltrigger-refresh-target">
    <!-- TODO: Change sourceset sizes -->
    <img class="portfolio-project-single-image swipe-in-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImage" type="image" width="1400" height="1400" label="Portfolio Project Single Image" quality="70" crop>" alt="<perch:content id="alt" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImage" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImage" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImage" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImage" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImage" width="600" height="600" quality="70" crop> 600w" >
  </div>
</perch:block>

<perch:block type="singleAnimatedImage" label="Single Nine Image Animated Block" icon="photo">
  <div class="portfolio-single-image-wrapper portfolio-margin-wrapper scrolltrigger-refresh-target fade-and-swap-nine">
    <!-- TODO: Change sourceset sizes -->
   <img class="portfolio-project-single-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageFirst" type="image" width="1400" height="1400" label="Portfolio Project Single Image" quality="70" crop>" alt="<perch:content id="alt" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageFirst" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageFirst" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageFirst" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageFirst" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageFirst" width="600" height="600" quality="70" crop> 600w" >

    <!-- Animated images  -->
    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedOne" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image One" help="Minimum width 1400px" divider-before="Animated Images" quality="70" required crop>" alt="<perch:content id="altAnimatedOne" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedOne" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedOne" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedOne" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedOne" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedOne" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedTwo" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Two" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedTwo" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedTwo" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedTwo" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedTwo" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedTwo" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedTwo" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedThree" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Three" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedThree" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedThree" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedThree" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedThree" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedThree" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedThree" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedFour" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Four" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedFour" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedFour" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFour" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFour" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFour" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFour" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedFive" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Five" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedFive" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedFive" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFive" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFive" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFive" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedFive" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedSix" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Six" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedSix" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedSix" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSix" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSix" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSix" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSix" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedSeven" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Seven" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedSeven" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedSeven" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSeven" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSeven" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSeven" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedSeven" width="600" height="600" quality="70" crop> 600w" >

    <img class="portfolio-project-single-image fade-and-swap-nine-images" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImageAnimatedEight" type="image" width="1400" height="1400" label="Portfolio Project Single Animated Image Eight" help="Minimum width 1400px"  quality="70" required crop>" alt="<perch:content id="altAnimatedEight" type="text" label="Image Description">"
    sizes="(max-width: 700px) 95vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImageAnimatedEight" width="1400" height="1400" quality="70" crop> 1400w,
    <perch:content type="image" id="portfolioSingleImageAnimatedEight" width="1200" height="1200" quality="70" crop> 1200w,
    <perch:content type="image" id="portfolioSingleImageAnimatedEight" width="1000" height="1000" quality="70" crop> 1000w,
    <perch:content type="image" id="portfolioSingleImageAnimatedEight" width="800" height="800" quality="70" crop> 800w,
    <perch:content type="image" id="portfolioSingleImageAnimatedEight" width="600" height="600" quality="70" crop> 600w" >
  </div>
</perch:block>

<perch:block type="embed" icon="video" label="Video Clip">
  <!-- TODO: Animate + lazyload with GSAP -->
    <video class="portfolio-project-video-wrapper scrolltrigger-refresh-target swipe-in-image" <perch:if exists="portfolioVideoPoster">poster="<perch:content id="portfolioVideoPoster" type="image" label="Optional Placeholder Image">"</perch:if>  autoplay loop muted>
        <source src="<perch:content id="portfilioProjectVideo" type="file" file-type="video" label="Portfolio Video - MP4">" type="video/mp4">

        <!-- TODO: Check if I need to add other video types  -->
        <!-- <source src="" type="video/ogv"> -->
        <!-- <source src="" type="video/webm"> -->
    </video>
</perch:block>

</perch:blocks>

 <div class="portfolio-padding-wraper scrolltrigger-refresh-target">
   <h2 class="like-what-you-see-cta split-text-heading-animation">
     <perch:content id="likeWhatYouSeePortfolio" type="text" label="Like What You See Text" required>
   </h2>
  <div class="portfolio-project-svg-down-arrow simple-fade-in">
    <perch:template path="../svg/svg_arrow.html">
  </div>
 </div>
</section>