<section class="portfolio-section portfolio-project-section">

<perch:blocks>

  <perch:block type="text" label="Text Area" icon="edit">
    <div class="portfolio-project-text-wrapper portfolio-padding-wrapper">
      <perch:content id="portfolioIntroTextarea" type="textarea" editor="redactor" label="Portfolio Project Introduction Text" required html>
    </div>
  </perch:block>

  <perch:block type="dualImage" label="Dual Image Block" icon="photo">
    <div class="portfolio-dual-image-wrapper portfolio-padding-wrapper">
    <!-- TODO: Change sourceset sizes -->
    <img class="portfolio-project-dual-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioDualImageOne" type="image" width="1200" label="Portfolio Project Dual Image One" quality="70">" alt="<perch:content id="altOne" type="text" label="Image Description One">"
    sizes="(max-width:1000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="portfolioDualImageOne" width="1200" > 1200w,
    <perch:content type="image" id="portfolioDualImageOne" width="1000" quality="70"> 1000w,
    <perch:content type="image" id="portfolioDualImageOne" width="800" quality="70"> 800w,
    <perch:content type="image" id="portfolioDualImageOne" width="600" quality="70"> 600w,
    <perch:content type="image" id="portfolioDualImageOne" width="400" quality="70"> 400w" >

    <img class="portfolio-project-dual-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioDualImageTwo" type="image" width="1200" label="Portfolio Project Dual Image Two" quality="70">" alt="<perch:content id="altTwo" type="text" label="Image Description Two">"
    sizes="(max-width:1000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="portfolioDualImageTwo" width="1200" > 1200w,
    <perch:content type="image" id="portfolioDualImageTwo" width="1000" quality="70"> 1000w,
    <perch:content type="image" id="portfolioDualImageTwo" width="800" quality="70"> 800w,
    <perch:content type="image" id="portfolioDualImageTwo" width="600" quality="70"> 600w,
    <perch:content type="image" id="portfolioDualImageTwo" width="400" quality="70"> 400w" >
  </div>
</perch:block>

<perch:block type="singleImage" label="Single Image Block" icon="photo">
  <div class="portfolio-single-image-wrapper portfolio-padding-wrapper">
    <!-- TODO: Change sourceset sizes -->
    <img class="portfolio-project-single-image" itemprop="image" loading="lazy" src="<perch:content id="portfolioSingleImage" type="image" width="1400" label="Portfolio Project Single Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image Description">"
    sizes="(max-width:1000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="portfolioSingleImage" width="1400" > 1400w,
    <perch:content type="image" id="portfolioSingleImage" width="1200" quality="70"> 1200w,
    <perch:content type="image" id="portfolioSingleImage" width="1000" quality="70"> 1000w,
    <perch:content type="image" id="portfolioSingleImage" width="800" quality="70"> 800w,
    <perch:content type="image" id="portfolioSingleImage" width="600" quality="70"> 600w" >
  </div>
</perch:block>

<perch:block type="embed" icon="video" label="Video Clip">
  <!-- TODO: Animate + lazyload with GSAP -->
    <video class="portfolio-project-video-wrapper" <perch:if exists="portfolioVideoPoster">poster="<perch:content id="portfolioVideoPoster" type="image" label="Optional Placeholder Image">"</perch:if>  autoplay loop muted>
        <source src="<perch:content id="portfilioProjectVideo" type="file" file-type="video" label="Portfolio Video - MP4">" type="video/mp4">

        <!-- TODO: Check if I need to add other video types  -->
        <!-- <source src="" type="video/ogv"> -->
        <!-- <source src="" type="video/webm"> -->
    </video>
</perch:block>

</perch:blocks>

 <div class="portfolio-padding-wraper">
   <h2 class="like-what-you-see-cta">
     <perch:content id="likeWhatYouSeePortfolio" type="text" label="Like What You See Text" required>
   </h2>
  <div class="portfolio-project-svg-down-arrow">
    <perch:template path="../svg/svg_arrow.html">
  </div>
 </div>
</section>
