<section class="bio-section kate-bio-section">
  <h2 class="bio-subheading">
    <perch:content id="kateBioSubheading" type="text" label="Kate Bio Subheading" required>
  </h2>
  <div class="bio-flex-wrapper">
    <img class="bio-image" itemprop="image" loading="lazy" src="<perch:content id="kateBioImage" type="image" width="1000" label="Kate Bio Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image Description">"
    sizes="(max-width:500) 50vw, 100vw"
    srcset="<perch:content type="image" id="kateBioImage" width="1000" > 1000w,
    <perch:content type="image" id="kateBioImage" width="900" quality="70"> 900w,
    <perch:content type="image" id="kateBioImage" width="700" quality="70"> 700w,
    <perch:content type="image" id="kateBioImage" width="500" quality="70"> 500w,
    <perch:content type="image" id="kateBioImage" width="400" quality="70"> 400w" >
    <div class="bio-text-wrapper">
      <perch:content id="kateBioText" type="textarea" editor="redactor" label="Kate Bio Textarea" required html>
    </div>
  </div>
</section>