<perch:before>
    <ul>
</perch:before>
		<li<perch:if exists="current_page"> class="selected"</perch:if><perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <a href="<perch:pages id="pagePath" />">
            <perch:if exists="icon">
                <img src="<perch:pages id="icon" />" alt="">
            </perch:if>
            <perch:pages id="pageNavText" />
            <perch:if exists="preview_text">
            	<br>
            	<small><perch:pages id="preview_text" /></small>
            </perch:if>
        	</a>
            <perch:pages id="subitems" encode="false" />
        </li>
<perch:after>
    </ul>
</perch:after>